@model X.PagedList.IPagedList<CandidateAPI.InterviewSchedulerModel.Schedule>

@using X.PagedList.Mvc.Core;


@{
    ViewData["Title"] = "ViewSchedule";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="~/css/View.css" />
</head>
<div class="justify-content-xl-center" align="center">

    <h1>View Schedule</h1>

    <br />
    <table class="subscription">
        <thead>
            <tr>
                <th>
                    <label>Sl.No</label>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().CandidateId)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.First().PanelId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().JobId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().LevelId)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.First().Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().TimeFrom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().TimeTo)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CandidateId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PanelId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LevelId)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeFrom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeTo)
                    </td>
                    <td>
                        <div class="wrapper">
                            <div class="icon edit">
                                <div class="tooltip">Update</div>
                                <a asp-action="UpdateSchedule" asp-route-id="@item.Id"><span><i class="fa fa-edit" style="color: black;"></i></span></a>
                            </div>
                        </div>
                        <div class="wrapper">
                            <div class="icon delete">
                                <div class="tooltip">Delete</div>
                                <a asp-action="DeleteSchedule" asp-route-id="@item.Id"><span><i class="fa fa-trash" style="color: black;"></i></span></a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <br />
    <br />



    <div class="justify-content-xl-center">
        <a class="btn btn-info" asp-action="AddSchedule">Add Schedule</a>
    </div>
    <br />

    <center>
        <div class="justify-content-xl-center">
            <a asp-controller="HrDashboard" asp-action="Index" class="btn btn-outline-dark">Back</a>
        </div>
    </center>
    <br />
    @Html.PagedListPager(Model, page => Url.Action("ViewSchedule", "Schedule", new { page }))

</div>